#title{
  background-color: #ff4c68;
}

body{
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}


.heading-1{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 3.5rem;
  line-height: 1.5;

}
.heading-2{
  font-style: italic;
  font-size: 2rem;
}

.heading-3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;

}
.paragraph-1{
  font-family: "ubuntu";
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15% 12%;
}
.btn-default{
  background-color: #fff;
  box-shadow: 1px 4px 18px 0px #141618;
}
.btn-round-lg{
  border-radius: 12px;
}
.fa-apple{
  padding-right: 50px;
  padding-left: 50px;
  
}
.fa-google-play{
  padding-right: 50px;
  padding-left: 50px;
  
}


/** Navigation-Bar **/

.navbar{
  padding: 0 0 4.5rem;
}
.nav-link {
    color: #fff !important;
    font-size: 1.2rem;
    

  }

  .navbar-nav a:hover {
    color: black !important;
   }

.navbar-brand{
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}   

.nav-item{
  padding:0px 18px;
}

/* Title Image */

.img-1{
  width: 60%;
 
  transform: rotate(25deg);
  position: absolute;
  right: 23%;
 
}

/* Features */

#features{
  padding:7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
  
  
}
.feature-box{
  text-align: center;
  padding:5%;
}

.icon{
  color: #ef8172;
  padding:10% 0;

}

.icon:hover{
  color: #ff4c68;
}

/* Testimonials */

#testimonials{
  
  text-align: center;
  background-color: #ef8172 ;
  color: white;
  
}
.carousel-item{
  padding: 7% 15%;
}


.cutekitty{
  width:20%;
  border-radius: 50%;
  margin: 20px;
 

}
.testimonial-image{
  width:20%;
  border-radius: 50%;
  margin: 20px;
}

/* Press */

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-image{
  width: 10%;
  margin:20px 20px 50px;
}

/* Pricing */
#pricing{
  padding:100px;
  text-align: center;
  
  
}


.pricing-col{
  padding:3% 2%;
}

.card-list{
  font-family: "ubuntu";
  color: #8f8f8f;
}





/** Call to Action **/
#cta{
  background-color: #ff4c68;
  color: white;
  text-align: center;
  
  padding:7% 15% ;
}

.h3-cta{
  padding-bottom: 60px;
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: 'Montserrat';
 
}

/** Footer **/
#footer{
  background-color: white;
  padding:7% 15%;
  text-align: center;
}

.para-footer{
  
  font-family: "ubuntu";
  color: #8f8f8f;
}

.footer-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .img-1{
    
    position: static;
    transform: rotate(0);
  }
}